<footer>
    <div class="grid-container">
        <div class="row">
                <div class="large-4 columns">
                    <i class="fi-marker"></i>
                </div>
                <div class="large-4 columns">
                    <i class="fi-marker"></i>
                </div>
                <div class="large-4 columns">
                    <i class="fi-marker"></i>
                </div>
        </div>
    </div>
</footer>