<footer class="footer-base">
    <div class="footer-align">
        <div class="first-item">
            <div class="footer-left d-inline-block">

                <p class="footer-links">
                    <a href="#" class="primary-color">About</a>
                    ·
                    <a href="#" class="primary-color">Contacts</a>
                    ·
                    <a href="{{ path('cgu') }}" class="primary-color">Conditions Générales d'Utilisation</a>
                </p>

                <p>©  2018 AllWeShare. All Rights Reserved.</p>
            </div>
        </div>

        <div class="second-item">
            <div class="row footer-middle">
                <div class="col-md-4">
                    <i class="fi-marker"></i>
                    <label>242 rue du Faubourg Saint-Antoine</label>
                </div>
                <div class="col-md-4">
                    <i class="fi-mail"></i>
                    <label>support.allweshare@gmail.com</label>
                </div>
                <div class="col-md-4">
                    <i class="fi-telephone"></i>
                    <label>+ 338 00 00 00 00</label>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="footer-right d-inline-block">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a target="_blank" href="https://github.com/Sylvain6/AllWeShare" rel="noreferrer"><i class="fab fa-github"></i></a>

            </div>
        </div>
    </div>
</footer>