<footer class="footer u-pt-24 bg-light">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-sm-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <label>©  2018 AllWeShare. All Rights Reserved.</label>
            </div>
            <div class="col-md-4">
                <div class="u-pb-48">
                    <div class="d-inline-block">
                        <i class="fi-marker"></i>
                    </div>
                    <div class="d-inline-block">
                        <label>242 rue du Faubourg Saint-Antoine</label>
                    </div>
                </div>
                <div class="u-pb-48">
                    <div class="d-inline-block">
                        <i class="fi-mail"></i>
                    </div>
                    <div class="d-inline-block">
                        <label>support.allweshare@gmail.com</label>
                    </div>
                </div>
                <div class="u-pb-48">
                    <div class="d-inline-block">
                        <i class="fi-telephone"></i>
                    </div>
                    <div class="d-inline-block">
                        <label>+338 00 00 00 00</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="u-pb-16">
                    <div class="d-inline-block">
                        <a href="#"><label>About</label></a>
                    </div>
                </div>
                <div class="u-pb-16">
                    <div class="d-inline-block">
                        <a href="#"><label>Accueil</label></a>
                    </div>
                </div>
                <div class="u-pb-16">
                    <div class="d-inline-block">
                        <a href="#"><label>Subscription</label></a>
                    </div>
                </div>
                <div class="u-pb-16">
                    <div class="d-inline-block">
                        <a href="#"><label>Contacts</label></a>
                    </div>
                </div>
                <div class="u-pb-16">
                    <div class="d-inline-block">
                        <a href="#"><label>Conditions Générales d'utilidation</label></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>