
<nav class="navbar navbar-expand-lg bg-light">
    <div class="col-md-2">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('images/allweshare-logo.png') }}" class="img-fluid"width="166" height="166">
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <div class="form-inline col-md-2 offset-md-10">
            <ul class="navbar-nav mr-auto align-center">
                <li class="nav-item">
                    <a class="nav-link u-c-b" href="{{ path('app_front_security_login') }} ">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link primary-color" href="{{ path('user_new') }} ">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>