<nav>
    <div class="top-bar u-pt-12 u-pb-12">
        <div class="top-bar-left u-pl-36">
            <img src="{{ asset('images/allweshare-logo.png') }}" width="200" height="166">
        </div>
        <div class="top-bar-right">
            <ul class="menu u-pr-36">
                <li><a class="u-c-b" href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>