version: '3'
services:
  nginx:
    build: docker/nginx/
    ports:
    - '8082:4203'
    volumes:
    - './AllWeShare:/usr/share/nginx/html:cached'

  adminer:
    image: 'adminer:latest'
    ports:
    - '8081:8080'

  php-fpm:
    container_name: allweshare_php-fpm_1
    build: docker/php/
    environment:
    - 'DATABASE_URL=${DATABASE_DMS}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_SERVER}:${DATABASE_PORT}/${DATABASE_BDD}'
    volumes:
    - './AllWeShare:/usr/share/nginx/html'

  composer:
    image: 'composer:latest'
    volumes:
    - './:/app'

  postgresql:
    image: 'postgres:10.4'
    container_name: allweshare_postgresql_1
    ports:
    - 5432:5432
    volumes:
    - './tmp/docker/database:/var/lib/postgresql/data'
    environment:
    - PGDATA=/var/lib/postgresql/data
    - POSTGRES_DB=allweshare
    - POSTGRES_USER=user
    - POSTGRES_PASSWORD=password

  blackfire:
    image: blackfire/blackfire
    environment:
    - BLACKFIRE_SERVER_ID
    - BLACKFIRE_SERVER_TOKEN
