version: '3'
services:
  nginx:
    build: docker/nginx/
    ports:
    - '8080:4203'
    volumes:
    - './AllWeShare:/usr/share/nginx/html'

  adminer:
    image: 'adminer:latest'
    ports:
    - '8081:8080'

  php-fpm:
    build: docker/php/
    volumes:
    - './AllWeShare:/usr/share/nginx/html'

  composer:
    image: 'composer:latest'
    volumes:
    - './:/app'

  postgresql:
    image: 'postgres:10.4'
    ports:
    - 5432:5432
    volumes:
    - 'docker/database:/var/lib/postgresql/data'
    environment:
    - PGDATA=/var/lib/postgresql/data
    - POSTGRES_DB=allweshare
    - POSTGRES_USER=user
    - POSTGRES_PASSWORD=password