{{ form_start(form, {action: '/comment/'~comment.id~'/edit'}) }}
    <div class="form-group">
        {{ form_widget(form ) }}
    </div>
    <button class="card-link float-right edit-button" type="submit"><i class="fas fa-save fa-lg" id="edit-icon"></i></button>

{{ form_end(form) }}
