{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="subscribe_form">
        <h1>Edit User</h1>

            {{ include('Back/user/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="btn button secondary" href="{{ path('admin_user_index') }}">Back to list</a>

            {{ include('Back/user/_delete_form.html.twig') }}

    </div>


{% endblock %}
