/*



.u-c-b {
    color:black;
}

.u-c-b:hover {
    color:black;
}

.u-pt-12{
    padding-top: 12px;
}

.u-pt-24{
    padding-top: 24px;
}

.u-pb-12{
    padding-bottom: 12px;
}

.u-pb-16{
    padding-bottom: 16px;
}

.u-pb-48{
    padding-bottom: 48px;
}

.u-pr-36{
    padding-right: 36px;
}

.u-pl-36 {
    padding-left: 36px;
}

#delete_form{
    display: inline-block;
}





.m-ipt{
    margin-left: 5px;
}

!*.active-navbar{*!
    !*color: #ffa13d;*!
    !*background-color: #b1b1b1;*!
!*}*!

*/
