@import "../font/style.css";

body {
    font-family: Circular Std Bold, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.primary-color{
    color: #ffa13d;
}

.primary-color:hover{
    color: #fd8200;
}

.top-bar, .top-bar ul {
    background-color: #ffffff !important;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.u-c-b {
    color:black;
}

.u-c-b:hover {
    color:black;
}

.u-pt-12{
    padding-top: 12px;
}

.u-pt-24{
    padding-top: 24px;
}

.u-pb-12{
    padding-bottom: 12px;
}

.u-pb-16{
    padding-bottom: 16px;
}

.u-pb-48{
    padding-bottom: 48px;
}

.u-pr-36{
    padding-right: 36px;
}

.u-pl-36{
    padding-left: 36px;
}