@import "../font/style.css";

body {
    font-family: Circular Std Bold, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.primary-color{
    color: #ffa13d;
}

.primary-color:hover{
    color: #fd8200;
}

.secondary-color{
    color: #dddddd;
}

.secondary-color:hover{
    color: #b1b1b1;
}


.top-bar, .top-bar ul {
    background-color: #ffffff !important;
}

footer {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    bottom: 0;
}

.u-c-b {
    color:black;
}

.u-c-b:hover {
    color:black;
}

.u-pt-12{
    padding-top: 12px;
}

.u-pt-24{
    padding-top: 24px;
}

.u-pb-12{
    padding-bottom: 12px;
}

.u-pb-16{
    padding-bottom: 16px;
}

.u-pb-48{
    padding-bottom: 48px;
}

.u-pr-36{
    padding-right: 36px;
}

.u-pl-36 {
    padding-left: 36px;
}
.subscribe_form{
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}

#delete_form{
    display: inline-block;
}

.button.primary{
    background-color: #ffa13d;
    color: #0a0a0a;
}

.button.primary:hover, .button.primary:focus{
    background-color: #fd8200;
    color: #0a0a0a;
}

.button.secondary{
    background-color: #dddddd;
    color: #0a0a0a;
}

.button.secondary:hover, .button.secondary:focus{
    background-color: #b1b1b1;
    color: #0a0a0a;
}

.button.success{
    background-color: #2bbc41;
    color: #0a0a0a;
}

.button.success:hover, .button.success:focus{
    background-color: #16a30e;
    color: #0a0a0a;
}

.button.alerte{
    background-color: #db2727;
    color: #0a0a0a;
}

.button.alerte:hover, .button.alerte:focus{
    background-color: #b11d1d;
    color: #0a0a0a;
}


.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 3px;
    background-color: white;
    color: #0a0a0a; }
.callout > :first-child {
    margin-top: 0; }
.callout > :last-child {
    margin-bottom: 0; }
.callout.primary {
    background-color: #fff1e2;
    color: #0a0a0a; }
.callout.secondary {
    background-color: #fafafa;
    color: #0a0a0a; }
.callout.alert {
    background-color: #fadfdf;
    color: #0a0a0a; }
.callout.success {
    background-color: #d9fbd7;
    color: #0a0a0a; }
.callout.warning {
    background-color: #fadfdf;
    color: #0a0a0a; }
.callout.body-font {
    background-color: #dedede;
    color: #0a0a0a; }
.callout.header {
    background-color: #dedede;
    color: #0a0a0a; }
.callout.small {
    padding: 0.5rem;
}
.callout.large {
    padding: 3rem;
}

.m-ipt{
    margin-left: 5px;
}