
@import "../font/style.css";



/*
===================================
========== CSS RESET ==============
===================================
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
===================================
========== MAIN SYLES =============
===================================
 */


body {
    min-height: 100%;
    font-family: Circular Std Bold, sans-serif;
    height: 119vh !important;
}

.svg-blob {
    margin-top: 2rem;
    margin-left: -10rem;

}

html {
    height: 1vh !important; }

.blurred-bg {
    /*background: #485355;*/
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.blurred-bg.tinted {
    /*background-color: #485355;*/
    /*background-image: url("../images/blur_bg.jpg");*/
    background-size: 100%;
    /*background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/blur_bg.jpg");
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/blur_bg.jpg");
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/blur_bg.jpg");*/
}
.blurred-bg.shaded {
    /*background-color: #1b1e21;*/
    /*background-image: url("../images/blur_bg.jpg");*/
    background-size: 100%;
   /* background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/blur_bg.jpg");
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/blur_bg.jpg");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/blur_bg.jpg");*/
}

.box {
    width: 500px;
    height: 300px;
    left: -webkit-calc( 50% - 250px );
    top: 20%;
    position: absolute;
    border-radius: 5px;
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box .content {
    margin: auto;
}
/*
h1, h2, a, p {
    !*color: white;*!
    font-weight: 100;
}
.tinted h1, .tinted h2, .tinted a, .tinted p {
    color: black;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

h2 {
    font-size: 14px;
}

p {
    margin: 20px;
}
p.related {
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
}
p.related a {
    font-weight: 700;
    text-decoration: none;
}
p.related a:hover {
    text-decoration: underline;
}*/

#main{
    min-height:100%;
    margin:0 auto;
    padding-bottom: 10rem !important;
}


/*
===================================
=========== FORM SYLES ============
===================================
 */

.subscribe_form{
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 15px;

}
.register{
    margin-bottom: 10px;
}

.m-ipt{
    margin-left: 5px;
}

.div-center{
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}

.title-center{
    margin-left: auto;
    margin-right: auto;
}


/*
===================================
========= POST CARDS SYLES ========
===================================
 */
.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 3px;
    background-color: white;
    color: #0a0a0a; }
.callout > :first-child {
    margin-top: 0; }
.callout > :last-child {
    margin-bottom: 0; }
.callout.primary {
    background-color: #fff1e2;
    color: #0a0a0a; }
.callout.secondary {
    background-color: #fafafa;
    color: #0a0a0a; }
.callout.alert {
    background-color: #fadfdf;
    color: #0a0a0a; }
.callout.success {
    background-color: #d9fbd7;
    color: #0a0a0a; }
.callout.warning {
    background-color: #fadfdf;
    color: #0a0a0a; }
.callout.body-font {
    background-color: #dedede;
    color: #0a0a0a; }
.callout.header {
    background-color: #dedede;
    color: #0a0a0a; }
.callout.small {
    padding: 0.5rem;
}
.callout.large {
    padding: 3rem;
}

.request-btn{
    margin-right: 5px;
}

.date-comment{
    float: right;
    display: inline-block;
}

.container-comment {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

.container-comment::after {
    content: "";
    clear: both;
    display: table;
}



.container-comment img {
    float: left;
    max-width: 60px;
    margin-right: 20px;
}

#content-comments .container-comment:nth-child(2n){
    border-color: #ccc;
    background-color: #ddd;
}

.name-user-comment{
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
}

.margin-top-modal{
    margin-top: 0.5rem;
}

.margin-card{
    margin-left: 5rem;
}



.card-shadow {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-grey{
    background-color: #f8f9fa;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/*
===================================
========= FOOTER SYLES= ===========
===================================
 */

footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

footer .footer-left {
    float: left;
    margin-top: 6px;
}

footer .footer-middle{
    text-align: center;
}

footer p.footer-links {
    margin: 0 0 10px;
    padding: 0;
}

footer div.first-item {
    position: relative;
    width: 100%;
    padding: 0 15px 0 15px;
    flex: 0 0 28%;
    max-width: 33.3333333333%;
}

footer div.second-item {
    position: relative;
    width: 100%;
    padding: 0 15px 0 15px;
    flex: 0 0 52.6666666667%;
    max-width: 52.6666666667%;
}

footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    clear: left;
    left: 0;
    padding: 0.5rem;
    background-color: white;
}


/*
===================================
========= BUTTONS SYLES ===========
===================================
 */

.button-primary{
    background-color: #ffa13d;
    color: #0a0a0a;
}

.button.primary:hover, .button.primary:focus{
    background-color: #fd8200;
    color: #0a0a0a;
}

.button.secondary{
    background-color: #dddddd;
    color: #0a0a0a;
}

.button.secondary:hover, .button.secondary:focus{
    background-color: #b1b1b1;
    color: #0a0a0a;
}

.button.success{
    background-color: #2bbc41;
    color: #0a0a0a;
}

.button.success:hover, .button.success:focus{
    background-color: #16a30e;
    color: #0a0a0a;
}

.button.alerte{
    background-color: #db2727;
    color: #0a0a0a;
}

.button.alerte:hover, .button.alerte:focus{
    background-color: #b11d1d;
    color: #0a0a0a;
}


/*
===================================
========== COLORS SYLES ===========
===================================
 */



.primary-color{
    color: #ffa13d;
}

.primary-color:hover{
    color: #fd8200;
}

.secondary-color{
    color: #dddddd;
}

.secondary-color:hover{
    color: #b1b1b1;
}


.top-bar, .top-bar ul {
    background-color: #ffffff !important;
}

.tab_admin{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    width: 95%;
    margin-top: 10px;
}

.m-top-5{
    margin-top: 5px;
}

.m-top-10{
    margin-top: 10px;
}

.m-bot{
    margin-bottom: 5px;
}

.pad-top-10{
    padding-top: 10px;
}


.active{
    color: #FFA13D;
}

.bell-red{
    color: red;
}


/*
Notif
 */

.notification {
    //color: red;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}


.notification .badge-notif {
    position: absolute;
    font-size: 60%;
    top: 5px;
    right: 1px;
    padding: 2px 7px;
    border-radius: 50%;
    background-color: red;
    color: white;
}


.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: gray;
}

.list-notif{
   list-style-type: none;
    padding: 0.75rem 1.25rem;
    position: relative;
    display: block;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 90%;
    width:100%;
}

.notif_second_id:hover{
    color: red;
}

.list-notif:last-child{
    border-bottom: none;
}

.card-for-group{
    width: 20rem;
    margin:5px;
}

.list-group-bottom{
    bottom: 0;
}

.logo-group{
    width:30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -90px;
}


/*
===================================
========== NAVBAR SYLES ===========
===================================
 */

.navbar-perso{
   /*border-bottom: 1px solid #C0C0C0;*/
    background-color: white !important;
}

/*
===================================
========== TESTS LOGIN ===========
===================================
 */


.login-box{
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(51, 51, 51, 0.1);
    border-radius: 5px;
    padding: 2rem;
}

.box-login-content{
}

.form-login{
    margin-left: auto;
    margin-right:auto;
}

.btns-login{
    border-radius: 5px 0 0 5px;
    text-decoration:none;
    padding:10px;
    cursor:pointer;
    transition:.5s ease;
}

.buttons-login{
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.buttons-login .inactive:hover{
    color: white !important;
}

.btn-login-right{
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

.signIn-btn{
    margin-right: auto;
    margin-left: auto;
}

.svg-login{
    position: absolute;
    display: inline-block;
    top: 13rem;
    left: 6rem;
    z-index: -1;
    width: 500px;
}

.forgotPwd{
    text-align: center;
}

.forgotPwd:hover{
    color: #FFA13D;
}

.active-login{
    background-color: #FFA13D !important;
    border-color: #FFA13D;
    color: white !important;
}

.inactive-login{
    border-color: #FFA13D;
    background-color: white;
}

.inactive-login:hover{
    background-color: #ffe6ce;
}

.tab-content > div:last-child {
    display:none;
}

.signinPseudoAndMail{
    padding: 0;
    display: inline-block;
}

.pseudoRegister{
    padding: 0 15px 0 0;
}
.mailRegister{
    padding: 0 0 0 15px;
}

.error-content {
    padding: 0.5rem 0 0.5rem 0;
}

.alert-content {
    background-color: #ffdddd;
    color: #853e2a;
    padding: 0.25rem;
    text-align: center;
    border-radius: 7px;
}

/*
===================================
========== SEARCH BAR  ===========
===================================
 */

#search_articles {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 100px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 10px 5px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#search_articles:focus {
    width: 100%;
    border-radius: 100px;
    outline: unset !important;
}

.search{
    padding: 0;
}

.likes{
    color: #AD1C11;
}

.card-body-perso{
    webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 1rem 1.25rem 1rem;
}

.pagination-perso{
    display: inherit!important;
    margin-top: 2rem!important;
}
.pagination-perso a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination-perso a.active {
    background-color: #FFA13D;
    color: white;
    border-radius: 5px;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
}


.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#user_profile_pic  {
    display: inline-block;
    position: relative;
}

#edit_user_profile_pic  {
    z-index: 1;
    display: inline-block;
    /* bottom: 0; */
    margin-top: -2rem;
    left: 56%;
    position: absolute;
}

.trash-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #5D656C;
}

.trash-button:hover{
    color: #AD1C11;
}

.edit-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #FFA13D;
}


.m-left-10{
    margin-left: 15px;
}

.profil_pic{
    width: 128px;
    object-fit: cover;
    border-radius: 100%;
}

.pofil_pic_comment{
    width: 60px;
    height:60px;
    object-fit: cover;
    border-radius: 100%;
}


ul.breadcrumb-perso {

    list-style: none;

}

/* Display list items side by side */
ul.breadcrumb-perso li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb-perso li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb-perso li a {
    /*color: #0275d8;*/
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb-perso li a:hover {
    color: #4aa48a;

}

/* ########### COMPONENTS ########### */

.btn-allWeShare {
    border: 2px solid #ffa13d;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 32px;
    background-color: #ffa13d;
}

.btn-allWeShare:hover {
    border: 2px solid #e79237;
    background-color: #e79237;
}

.content-post {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.header-post {
    padding: 2.5rem 0 2.5rem 0;
}

.main-posts {
    display: flex;
    justify-content: space-between;
    margin: 0 10.5rem 0 10.5rem;
}

.card-post-allWeShare {
    position: relative;
    padding: 0 0 1rem 0;
    border-radius: 10px;
}

.banner-brand {
    width: 469px;
    height: 69px;
    opacity: 0.65;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-content {
    padding: 0.5rem;
}

.size-content{
    font-size: 13px;
    font-weight: bold;
}

.footer-base {
    border-top: 1px solid #e0e0e0;
}

.footer-align {
    display: flex;
    justify-content: space-between;
    margin: 0 10.5rem 0 10.5rem;
}