<h1> Hello {{ name }} </h1>

You have requested a new password.

To change your password, please click on the link and follow the instructions : <a href="{{ token }}"> Click here !</a>

<strong>Important !</strong>If you're not behind the request, please ignore this email.

Thanks !
Allweshare