{% extends 'base.html.twig' %}

{% block title %}Posts - Edit{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">


        <div class="col-md-6 subscribe_form">
            <h1 class="text-center">Edit Post</h1>

            {{ include('Front/post/_form.html.twig', {'button_label': 'Update'}) }}

            <a class="btn btn-outline-info" href="{{ path('post_index') }}">back to list</a>

        </div>


    </div>
</div>


{% endblock %}
