{% extends 'base.html.twig' %}

{% block title %}New Request{% endblock %}

{% block body %}
    <h1>Create new Request</h1>

    {{ include('request/_form.html.twig') }}

    <a href="{{ path('request_index') }}">back to list</a>
{% endblock %}
